$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
*{
  font-family: 'PT Sans', sans-serif;
}
html,body{
  height: 100%;
}
body{
  min-height: 100%;
  color: #545454;
}
.page_container{
  height: 100%;
  >.row{
    height: 100%;
  }
}
.logo{
  display: inline-block;
  height: 80px;
  width: 180px;
  background: url(../images/logo.png) no-repeat center/50%; 
}
img.logo{
  float: none;
  display: block;
  margin: 40px auto;
  height: auto;
  width: auto;
  background: none;
}
.row{
  margin: 0;
}
header{
  border-bottom: 2px solid rgb(66, 139, 202);
}
.center{
  float: none;
  margin: 0 auto;
}
.front_banner{
  text-align: center;
  >div{
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  

}
.login>h3{
  text-align: center;
  margin-bottom: 30px;
}
.loginform{
  float: none;
  margin: 0 auto;
  >input,>button{
    margin: 10px;
    margin-top: 0;
  }
  >label{
    margin-left: 10px;
  }
}
.marketing>.center>.wrapper>div{
  text-align: center;
  margin-top: 20px;
  border-top: 4px solid rgb(45, 204, 112);
  box-shadow: 0 1px 1px gray;
  h3{
    margin: 10px 0;
  }
}
$user_info_color: rgb(231, 234, 238);
$text_color: #666F81;
$border_color: rgb(216, 219, 223);
$light_text_color: rgb(158, 161, 174);
.side_menu{
  position: fixed;
  border-right: 1px solid $border_color;
  height: 100%;
  padding: 0;
  background-color: rgb(244, 247, 251);
  color: $text_color;
  .menu_block{
    padding-bottom: 20px;
    h4{
      font-size: 16px;
      color: $light_text_color;
      margin-left: 20px;
    }
    a{
      color: $text_color;
      display: block;
      padding: 5px 0;
      padding-left: 40px;
      font-size: 17px;
      border-left: solid 3px transparent;
      &:hover{
        text-decoration: none;
        color: rgba(66, 139, 202, 0.8);
      }
      &:focus{
        text-decoration: none;
      }
      &.active{
        color: rgb(66, 139, 202);
        border-color: rgb(66, 139, 202);
      }
    }
    &:last-of-type{
      border: none;
    }

    &:not(:last-child):after{
      content: "";
      width: 80%;
      display: block;
      padding-top: 10px;
      border-bottom: 1px solid $border_color;
      margin: 0 auto;
    }
  }
  .user_info{
    text-align: center;
    background-color: $user_info_color;
    border-bottom: 1px solid $border_color;
    height: 65px;
    overflow: hidden;
    .user_photo{
      display: inline-block;
      display: none;
      width: 80%;
      height: 0;
      padding-bottom: 80%;
      background: url(../images/user.jpg) no-repeat center center/cover; 
      border-radius: 50%;
    }
    .user_name{
      font-size: 16px;
      padding: 10px 0;
      >p{
        padding: 0;
        margin: 0;
      }
    }
  }
}
.content{
  padding: 0;
  color: $text_color;
  .header{
    border-bottom: 1px solid $border_color;
    height: 65px;
    overflow: hidden;
    h3{
      margin: 0 20px;
      line-height: 2.9;
    }
  }
}
.device_blue{
  color: rgb(41, 128, 184);
}
.device_green{
  color: rgb(45, 204, 112);
}
.device_orange{
  color: rgb(243, 156, 18);
}
.device_red{
  color: rgb(231, 75, 59);
}
.dblock{
  display: block!important;
}
.devices{
  padding: 0;
  border-right: 1px solid $border_color;
  .device{
    border-left: solid 3px transparent;
    border-bottom: 1px solid $border_color;
    .device_info{
      display: inline-block;
      vertical-align: middle;
      float: none;
      padding: 10px 0;
      h4{
        padding-left: 10px;
        color: rgb(66, 139, 202);
      }
      p{
        padding-left: 10px;
        color: $light_text_color;
        >span{
          font-size: 20px;
          vertical-align: initial;
        }
      }
    }
    .device_status{
      padding: 0;
      text-align: center;
      display: inline-block;
      float: none;
      vertical-align: middle;
      width: 22%;
      .glyphicon{
        font-size: 20px;
      }
      &.good{
        color: #2DCC70;
      }
      &.bad{
        color: #E74B3B;
      }
      &.wait{
        color: #F39C12;
      }
    }
    &.active{
      border-left-color: rgb(66, 139, 202);
    }

    &:hover{
      cursor: pointer;
      background-color: rgba(66, 139, 202, 0.02);
    }
  }
  /*add*/
  .device.add{
    .device_status{
      vertical-align: text-top;
      .glyphicon{
        color: #428bca;
      }
    }

    &:hover{
      cursor: default;
      background-color: rgba(66, 139, 202, 0.02);
    }
    .glyphicon:hover{
      cursor: pointer;
    }
    form{
      display: none;
      input[type="text"],select{
        width: 80%;
        max-width: 300px;
      }
      input,select{
        margin-bottom: 20px;
      }
    }
  }
}
.data{
  padding: 0;
  margin-left: -1px;
  border: 1px solid $border_color;
  border-width: 0 1px 0 1px;
  >div{
    border-bottom: 1px solid $border_color;
  }
  .device_info{
    background-color: rgb(244, 247, 251);
    padding: 40px 0;
    >div{
      float: none;
      display: inline-block;
      vertical-align: middle;
    }
    .device_image{
      margin: 0 auto;
      width: 70%;
      height: 0;
      padding-bottom: 70%;
      background: url(../images/counter.jpg) no-repeat center center/cover; 
      border-radius: 50%;
      border: 1px solid $border_color;
    }
    .device_name{
      padding: 0;
      p{
        color: $light_text_color;
      }
    }
  }
  .data_block{
    padding: 10px;
    h4{
      padding-left: 10px;
      color: $light_text_color;
      select{
        color: $text_color;
        background-color: transparent;
        border-color: $border_color;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        padding: 3px;        
        &:hover{
          cursor: pointer;
          color: rgb(66, 139, 202);
          border-color: rgb(66, 139, 202);
        }
        &:focus{
          outline: none;
        }
        option{
          background-color:  white;
        }
      }
    }
  }
}
dt{
  color: gray;
  font-weight: normal;
}
dd{
  font-weight: bolder;
}
.loginform_wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
.loginform{
  margin: 0 auto;
  margin-top: 100px;
  width: 340px;
  padding: 20px;
  box-shadow: 0 0 1px;
  text-align: center;
  color: gray;
  background-color: white;
  *{
    margin: 10px 0;
    text-align: center;
    display: inline-block;
  }
  input[type="text"],input[type="password"],input[type="email"]{
    background-color: rgb(249, 249, 249);
  }
  .btn{
    width: 100%;
  }
  p{
    display: block;
  }
  p:first-of-type a{
    color: gray;
    background-color: rgb(249, 249, 249);
    padding: 3px 15px;
    border-radius: 15px;
    margin: 0;
    &:hover{
      cursor: pointer;
    }
  }
  p:last-of-type a{
    margin: 0;
    text-decoration: underline;
    font-style: italic;
  }
}
.loginform .btn, .regform .btn{
  background-image: url('../images/login-button.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 34px;
}
.map{
  margin: 0;
  padding: 0;
}
#map{
  width: 100%;
  height: 100px;
}
.prefilter{
  border-bottom: solid 1px $border-color;
  >div>div{
    margin: 10px;
  }
  .filter_type{
    >span{
      font-weight: bolder;
    }
    >*{
      margin: 0 10px;
    }
  }
}
.filter_precision{
  border-left: solid 1px $border-color;
  margin-left: -1px;
  padding: 0;
  .item{
    /*border-left: solid 3px transparent;*/
    /*border-bottom: solid 1px $border-color;*/
    padding-left: 10px;
    &:hover{
      cursor: pointer;
      color: rgb(66, 139, 202);
    }
    &.red{
      background-color: rgb(255, 240, 240)
    }
    p{
      padding: 17px 0;
      margin: 0;
    }
    &.active{
        color: rgb(66, 139, 202);
        border-left-color: rgb(66, 139, 202);
        background-color: rgb(247, 247, 255);
    }
    .balance{
      color: rgb(45, 204, 112);
      font-size: 18px;
      padding-top: 13px;

      &.negative{
        color: rgb(231, 75, 59);
      }
    }
    a{
      color: gray;
      padding: 6px;
    }
  }
  .btn{
    margin: 10px;
  }
}
.history_reports{
  border-bottom: solid 1px $border-color;
  h4{
    padding: 10px;
    &:hover{
      cursor:pointer;
    }
    span{
      font-size: 14px;
      padding: 0 10px;
    }
  }
}
.form-inline{
  margin: 10px 0;
}
#date_filter{

}
.legend{
  p>span{
    font-size: 18px;
    padding: 0 10px;
  }
  p:hover{
    cursor: pointer;
    color: #428bca;
  }
}
canvas{
  width: 100%!important;
  height: auto;
}
.current_report{
  >h4,>form,>.btn{
    margin-left: 10px;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
