<div class="company">
    <div class="row item">
        <p class="col-xs-4"></p>
        <div class="col-xs-2">Потреблено</div>
        <div class="col-xs-2">Потрачено</div>
        <div class="col-xs-2">Баланс</div>
    </div>
    <div class="item active row">
        <p class="col-xs-4">Управляющая компания</p>
        <div class="balance col-xs-2">692</div>
        <div class="balance negative col-xs-2">-560</div>
        <div class="balance negative col-xs-2">-132</div>
        <a class="col-xs-2" href="/dreports">получить отчет</a>
    </div>
</div>
<div class="tszhs">
    <div id="tszh1" class="item row" data-tszhID="2">
        <p class="col-xs-4">ТСЖ 1</p>
        <div class="balance col-xs-2">692</div>
        <div class="balance negative col-xs-2">-560</div>
        <div class="balance negative col-xs-2">-132</div>
        <a class="col-xs-2" href="/dreports">получить отчет</a>
        <div style="clear: both;"></div>
        <div class="houses nested" style="display:none;">
            <div id="house1" class="item row" data-houseID="4">
                <p class="col-xs-4">Дом: Иловайская улица, д. 3</p>
                <div class="balance col-xs-2">692</div>
                <div class="balance negative col-xs-2">-560</div>
                <div class="balance negative col-xs-2">-132</div>
                <a class="col-xs-2" href="/dreports">получить отчет</a>
                <div style="clear: both;"></div>
                <div class="apartments nested" style="display:none;">
                    <div id="apartment1" class="item row" data-apartmentID="4">
                        <p class="col-xs-4">Квартира: 32</p>
                        <div class="balance col-xs-2">692</div>
                        <div class="balance negative col-xs-2">-560</div>
                        <div class="balance negative col-xs-2">-132</div>
                        <a class="col-xs-2" href="/dreports">получить отчет</a>
                        <div style="clear: both;"></div>
                        <div class="devices nested" style="display:none;">
                            <div id="device1" class="item row" data-deviceID="12">
                                <p class="col-xs-4"><span class="device_green">&#9679;</span> Газ: Счетчик ГРАНД-25Т </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>
                            <div id="device2" class="item row" data-deviceID="11">
                                <p class="col-xs-4"><span class="device_blue">&#9679;</span> Вода: Счетчик Techem AP </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>
                            <div id="device3" class="item row" data-deviceID="10">
                                <p class="col-xs-4"><span class="device_orange">&#9679;</span> Электричество: Счетчик однофазный СОЭ-52 </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>                                              
                        </div>
                    </div>
                </div>
            </div>
            <div id="house2" class="item row" data-houseID="3">
                <p class="col-xs-4">Дом: Башиловская улица, д. 15</p>
                <div class="balance col-xs-2">692</div>
                <div class="balance negative col-xs-2">-560</div>
                <div class="balance negative col-xs-2">-132</div>
                <a class="col-xs-2" href="/dreports">получить отчет</a>
                <div style="clear: both;"></div>
                <div class="apartments nested" style="display:none;">
                    <div id="apartment1" class="item row" data-apartmentID="3">
                        <p class="col-xs-4">Квартира: 65</p>
                        <div class="balance col-xs-2">692</div>
                        <div class="balance negative col-xs-2">-560</div>
                        <div class="balance negative col-xs-2">-132</div>
                        <a class="col-xs-2" href="/dreports">получить отчет</a>
                        <div style="clear: both;"></div>
                        <div class="devices nested" style="display:none;">
                            <div id="device1" class="item row" data-deviceID="7">
                                <p class="col-xs-4"><span class="device_green">&#9679;</span> Газ: Счетчик ГРАНД-25Т </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>
                            <div id="device2" class="item row" data-deviceID="8">
                                <p class="col-xs-4"><span class="device_blue">&#9679;</span> Вода: Счетчик Techem AP </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>
                            <div id="device3" class="item row" data-deviceID="9">
                                <p class="col-xs-4"><span class="device_orange">&#9679;</span> Электричество: Счетчик однофазный СОЭ-52 </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tszh2" class="item row" data-tszhID="1">
        <p class="col-xs-4">ТСЖ 2</p>
        <div class="balance col-xs-2">692</div>
        <div class="balance negative col-xs-2">-560</div>
        <div class="balance negative col-xs-2">-132</div>
        <a class="col-xs-2" href="/dreports">получить отчет</a>
        <div style="clear: both;"></div>
        <div class="houses nested" style="display:none;">
            <div id="house3" class="item row" data-houseID="2">
                <p class="col-xs-4">Дом: Нежинская улица, д. 13</p>
                <div class="balance col-xs-2">692</div>
                <div class="balance negative col-xs-2">-560</div>
                <div class="balance negative col-xs-2">-132</div>
                <a class="col-xs-2" href="/dreports">получить отчет</a>
                <div style="clear: both;"></div>
                <div class="apartments nested" style="display:none;">
                    <div id="apartment1" class="item row" data-apartmentID="2">
                        <p class="col-xs-4">Квартира: 145</p>
                        <div class="balance col-xs-2">692</div>
                        <div class="balance negative col-xs-2">-560</div>
                        <div class="balance negative col-xs-2">-132</div>
                        <a class="col-xs-2" href="/dreports">получить отчет</a>
                        <div style="clear: both;"></div>
                        <div class="devices nested" style="display:none;">
                            <div id="device1" class="item row" data-deviceID="4">
                                <p class="col-xs-4"><span class="device_green">&#9679;</span> Газ: Счетчик ГРАНД-25Т </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>
                            <div id="device2" class="item row" data-deviceID="5">
                                <p class="col-xs-4"><span class="device_blue">&#9679;</span> Вода: Счетчик Techem AP </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>
                            <div id="device3" class="item row" data-deviceID="6">
                                <p class="col-xs-4"><span class="device_orange">&#9679;</span> Электричество: Счетчик однофазный СОЭ-52 </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="house4" class="item row" data-houseID="1">
                <p class="col-xs-4">Дом: Минусинская улица, д. 37</p>
                <div class="balance col-xs-2">692</div>
                <div class="balance negative col-xs-2">-560</div>
                <div class="balance negative col-xs-2">-132</div>
                <a class="col-xs-2" href="/dreports">получить отчет</a>
                <div style="clear: both;"></div>
                <div class="apartments nested" style="display:none;">
                    <div id="apartment1" class="item row" data-apartmentID="1">
                        <p class="col-xs-4">Квартира: 20</p>
                        <div class="balance col-xs-2">692</div>
                        <div class="balance negative col-xs-2">-560</div>
                        <div class="balance negative col-xs-2">-132</div>
                        <a class="col-xs-2" href="/dreports">получить отчет</a>
                        <div style="clear: both;"></div>
                        <div class="devices nested" style="display:none;">
                            <div id="device1" class="item row" data-deviceID="1">
                                <p class="col-xs-4"><span class="device_green">&#9679;</span> Газ: Счетчик ГРАНД-25Т </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>
                            <div id="device2" class="item row" data-deviceID="2">
                                <p class="col-xs-4"><span class="device_blue">&#9679;</span> Вода: Счетчик Techem AP </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>
                            <div id="device3" class="item row" data-deviceID="3">
                                <p class="col-xs-4"><span class="device_orange">&#9679;</span> Электричество: Счетчик однофазный СОЭ-52 </p>
                                <div class="balance col-xs-2">692</div>
                                <div class="balance negative col-xs-2">-560</div>
                                <div class="balance negative col-xs-2">-132</div>
                                <a class="col-xs-2" href="/dreports">получить отчет</a>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>            
</div>