<div class="company">
    <div class="row item">
        <p class="col-xs-4"></p>
        <div class="col-xs-2">Потреблено</div>
        <div class="col-xs-2">Потрачено</div>
        <div class="col-xs-2">Баланс</div>
    </div>
    <div class="item active row">
        <p class="col-xs-4">Управляющая компания</p>
        <div class="balance col-xs-2" data-income="692">692</div>
        <div class="balance negative col-xs-2" data-outcome="560">-560</div>
        <div class="balance negative col-xs-2" data-balance="-132">-132</div>
        <a class="col-xs-2" href="/dreports?selectiontype=0&id=1">получить отчет</a>
    </div>
</div>
<div class="tszhs">
    <div id="tszh1" class="item row" data-id="2">
        <p class="col-xs-4">ТСЖ 1</p>
        <div class="balance col-xs-2" data-income="692">692</div>
        <div class="balance negative col-xs-2" data-outcome="560">-560</div>
        <div class="balance negative col-xs-2" data-balance="-132">-132</div>
        <a class="col-xs-2" href="/dreports?selectiontype=1&id=2">получить отчет</a>
        <div style="clear: both;"></div>
        <div class="houses nested" style="display:none;">
            <div id="house1" class="item row" data-id="4" data-x="55.87404807445789" data-y="37.690125122070306">
                <p class="col-xs-4">Дом: Иловайская улица, д. 3</p>
                <div class="balance col-xs-2" data-income="692">692</div>
                <div class="balance negative col-xs-2" data-outcome="560">-560</div>
                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                <a class="col-xs-2" href="/dreports?selectiontype=2&id=4">получить отчет</a>
                <div style="clear: both;"></div>
                <div class="apartments nested" style="display:none;">
                    <div id="apartment1" class="item row" data-id="2">
                        <p class="col-xs-4">Квартира: 32</p>
                        <div class="balance col-xs-2" data-income="692">692</div>
                        <div class="balance negative col-xs-2" data-outcome="560">-560</div>
                        <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                        <a class="col-xs-2" href="/dreports?selectiontype=3&id=2">получить отчет</a>
                        <div style="clear: both;"></div>
                        <div class="devices nested" style="display:none;">
                            <div id="device1" class="item row" data-id="10">
                                <p class="col-xs-4"><span class="device_green">&#9679;</span> Газ </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=10">получить отчет</a>
                            </div>
                            <div id="device2" class="item row" data-id="11">
                                <p class="col-xs-4"><span class="device_blue">&#9679;</span> Вода </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=11">получить отчет</a>
                            </div>
                            <div id="device3" class="item row" data-id="12">
                                <p class="col-xs-4"><span class="device_orange">&#9679;</span> Электричество </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=12">получить отчет</a>
                            </div>                                              
                        </div>
                    </div>
                </div>
            </div>
            <div id="house2" class="item row" data-id="3" data-x="55.706921098504964" data-y="37.470398559570306" data-alert="Какое-то сообщение">
                <p class="col-xs-4">Дом: Башиловская улица, д. 15</p>
                <div class="balance col-xs-2" data-income="692">692</div>
                <div class="balance negative col-xs-2" data-outcome="560">-560</div>
                <div class="balance col-xs-2" data-balance="0">0</div>
                <a class="col-xs-2" href="/dreports?selectiontype=2&id=3">получить отчет</a>
                <div style="clear: both;"></div>
                <div class="apartments nested" style="display:none;">
                    <div id="apartment1" class="item row" data-id="1">
                        <p class="col-xs-4">Квартира: 65</p>
                        <div class="balance col-xs-2" data-income="692">692</div>
                        <div class="balance negative col-xs-2" data-outcome="560">-560</div>
                        <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                        <a class="col-xs-2" href="/dreports?selectiontype=3&id=1">получить отчет</a>
                        <div style="clear: both;"></div>
                        <div class="devices nested" style="display:none;">
                            <div id="device1" class="item row" data-id="7">
                                <p class="col-xs-4"><span class="device_green">&#9679;</span> Газ </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=7">получить отчет</a>
                            </div>
                            <div id="device2" class="item row" data-id="8">
                                <p class="col-xs-4"><span class="device_blue">&#9679;</span> Вода </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=8">получить отчет</a>
                            </div>
                            <div id="device3" class="item row" data-id="9">
                                <p class="col-xs-4"><span class="device_orange">&#9679;</span> Электричество </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=9">получить отчет</a>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tszh2" class="item row" data-id="1">
        <p class="col-xs-4">ТСЖ 2</p>
        <div class="balance col-xs-2" data-income="692">692</div>
        <div class="balance negative col-xs-2" data-outcome="560">-560</div>
        <div class="balance negative col-xs-2" data-balance="-132">-132</div>
        <a class="col-xs-2" href="/dreports?selectiontype=1&id=1">получить отчет</a>
        <div style="clear: both;"></div>
        <div class="houses nested" style="display:none;">
            <div id="house3" class="item row" data-id="2" data-x="55.78283647321973" data-y="37.55691589355467">
                <p class="col-xs-4">Дом: Нежинская улица, д. 13</p>
                <div class="balance col-xs-2" data-income="692">692</div>
                <div class="balance negative col-xs-2" data-outcome="-560">-560</div>
                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                <a class="col-xs-2" href="/dreports?selectiontype=2&id=2">получить отчет</a>
                <div style="clear: both;"></div>
                <div class="apartments nested" style="display:none;">
                    <div id="apartment1" class="item row" data-id="3">
                        <p class="col-xs-4">Квартира: 145</p>
                        <div class="balance col-xs-2" data-income="692">692</div>
                        <div class="balance negative col-xs-2" data-outcome="-560">-560</div>
                        <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                        <a class="col-xs-2" href="/dreports?selectiontype=3&id=3">получить отчет</a>
                        <div style="clear: both;"></div>
                        <div class="devices nested" style="display:none;">
                            <div id="device1" class="item row" data-id="4">
                                <p class="col-xs-4"><span class="device_green">&#9679;</span> Газ </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="-560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=4">получить отчет</a>
                            </div>
                            <div id="device2" class="item row" data-id="5">
                                <p class="col-xs-4"><span class="device_blue">&#9679;</span> Вода </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="-560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=5">получить отчет</a>
                            </div>
                            <div id="device3" class="item row" data-id="6">
                                <p class="col-xs-4"><span class="device_orange">&#9679;</span> Электричество </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="-560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=6">получить отчет</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="house4" class="item row" data-id="1" data-x="55.71855041425817" data-y="37.66815246582029">
                <p class="col-xs-4">Дом: Минусинская улица, д. 37</p>
                <div class="balance col-xs-2" data-income="692">692</div>
                <div class="balance negative col-xs-2" data-outcome="-560">-560</div>
                <div class="balance col-xs-2" data-balance="132">132</div>
                <a class="col-xs-2" href="/dreports?selectiontype=2&id=1">получить отчет</a>
                <div style="clear: both;"></div>
                <div class="apartments nested" style="display:none;">
                    <div id="apartment1" class="item row" data-id="4">
                        <p class="col-xs-4">Квартира: 20</p>
                        <div class="balance col-xs-2" data-income="692">692</div>
                        <div class="balance negative col-xs-2" data-outcome="-560">-560</div>
                        <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                        <a class="col-xs-2" href="/dreports?selectiontype=3&id=4">получить отчет</a>
                        <div style="clear: both;"></div>
                        <div class="devices nested" style="display:none;">
                            <div id="device1" class="item row" data-id="1">
                                <p class="col-xs-4"><span class="device_green">&#9679;</span> Газ </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="-560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=1">получить отчет</a>
                            </div>
                            <div id="device2" class="item row" data-id="2">
                                <p class="col-xs-4"><span class="device_blue">&#9679;</span> Вода </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="-560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=2">получить отчет</a>
                            </div>
                            <div id="device3" class="item row" data-id="3">
                                <p class="col-xs-4"><span class="device_orange">&#9679;</span> Электричество </p>
                                <div class="balance col-xs-2" data-income="692">692</div>
                                <div class="balance negative col-xs-2" data-outcome="-560">-560</div>
                                <div class="balance negative col-xs-2" data-balance="-132">-132</div>
                                <a class="col-xs-2" href="/dreports?selectiontype=4&id=3">получить отчет</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>            
</div>